# atom debugger
*/__debug_bin
*/debug.test

# needed this for the text generation graph
#  saves me from worrying about the gutenberg project licensing
*/sample*

# go build
learnGo

# the test coverage file that gets used by codecov
coverage.txt